@import "tailwindcss";

@layer utilities {
  .force-mobile {
    @apply max-w-[480px] mx-auto w-full;
  }
}

@theme {
  /* On lie les couleurs Tailwind aux variables CSS */
  --color-brand: var(--brand-color);
  --color-accent: var(--accent-color);
  --color-silver: var(--silver-color);
  --font-inter: "Inter", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:ital,wght@1,400;1,700&display=swap');

/* Définition des thèmes via variables CSS */
:root {
  --brand-color: #0ABF00; /* Vert par défaut */
  --accent-color: #D49CFF;
  --bg-color: #FFFFFF;
  --silver-color: #C0C0C0;
  
  background-color: var(--bg-color);
  color: var(--brand-color);
}

/* Thème Sombre / Alternatif */
[data-theme='dark'] {
  --brand-color: #262626; /* Ton nouveau gris/noir */
  --accent-color: #D49CFF; /* Reste identique */
  --bg-color: #FFFFFF;    /* Reste blanc */
}

body {
  margin: 0;
  overflow: hidden;
  transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--brand-color) var(--bg-color);
}