@import "tailwindcss";

@theme {
  --color-brand: #0ABF00;
  --color-accent: #D49CFF;
  --font-inter: "Inter", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:ital,wght@1,400;1,700&display=swap');

/* Quelques correctifs de base pour coller à ta maquette */
:root {
  background-color: #FFFFFF;
  color: #0ABF00;
}

body {
  margin: 0;
  overflow: hidden; /* Pour garder l'écran fixe comme demandé */
}

/* Cache la scrollbar mais garde le scroll fonctionnel pour tes colonnes */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* --- STYLE GLOBAL DES SCROLLBARS --- */

/* 1. Dimensions de la barre */
::-webkit-scrollbar {
  width: 8px;  /* Largeur pour le scroll vertical (Home) */
  height: 8px; /* Hauteur pour le scroll horizontal (Slider) */
}

/* 2. La glissière (le fond) */
::-webkit-scrollbar-track {
  background: #ffffff; 
  /* Optionnel : ajoute une fine bordure pour rappeler tes lignes de structure */
}

/* 3. Le curseur (la partie qui bouge) */
::-webkit-scrollbar-thumb {
  background-color: #0ABF00; /* Ta couleur BRAND (Vert) */
  /* On garde des angles droits (pas de border-radius) pour la DA géométrique */
  border: 2px solid #ffffff; /* Crée un petit espace blanc autour du vert */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0ABF00; /* Ta couleur BRAND (Vert) */
  /* On garde des angles droits (pas de border-radius) pour la DA géométrique */
}



/* Firefox (partiel) */
* {
  scrollbar-width: thin;
  scrollbar-color: #0ABF00 #ffffff;
}